<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Ingresar</h3>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="photoStudio.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email">
                        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            El email no es válido
                            </small>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="photoStudio.password" required placeholder="Contraseña">
                        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                            La contraseña no es valida.
                            </small>
                    </div>

                    <div class="row align-items-center remember">
                        <input type="checkbox">Recordarme
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right btn-warning" [disabled]="loginForm.invalid">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    No tienes una cuenta?<a [routerLink]="['/registro']">Registrarse</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>